<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      td{padding: 0 1em;}
      h2,h4,h6{margin:0;}
    </style>
  </head>
  <body>
    <%= content_tag(:h3, "Дата,время - #{I18n.l Time.now().in_time_zone, format: :long}") %>
    <% unless @send_data[:referer].blank? %>
      <hr />
      <table border="0">
        <tbody>
          <tr><td>Страница:</td><td><%= link_to @send_data[:referer], @send_data[:referer] %></td></tr>
        </tbody>
      </table>
    <% end %>
    <hr />
    <table border="0">
      <tbody>
        <tr><td>Имя:</td><td><%= content_tag(:h4, @send_data[:name]) %></td></tr>
        <tr><td>Телефон/email:</td><td> <%= content_tag(:h4, @send_data[:contacts] || @send_data[:phone] || @send_data[:email]) %></td></tr>
        <tr><td>Сообщение:</td><td><%= content_tag(:p , @send_data[:message]) %></td></tr>
      </tbody>
    </table>

    <hr />
    <h6>Вы оставили запрос на сайте <%= @biz_info.domain %>.</h6>
    <h6>Если это письмо пришло к Вам по ошибке, отвечать на него не надо.</h6>
  </body>
</html>
