<div class='js__nested-tag-fields admin-stroke'>
  <div class="path-0 clfl">
    <div class='path-4'>
      <%= f.label :name, class: "f-a-label" %>
      <%= f.collection_select :name, TemplateSystem::TemplateTag.available_tags, :to_s, :to_s, {}, class: "f-a-input" %>
    </div>
    <div class='path-4 padd-lr'>
      <%= f.label :html_class, class: "f-a-label" %>
      <%= f.text_field :html_class, class: "f-a-input" %>
    </div>
    <div class='path-4'>
      <%= f.label :settings, class: "f-a-label" %>
      <%= f.text_field :settings, class: "f-a-input" %>
    </div>
  </div>

  <%= link_to_remove_association '', f, class: "element-close element-close--inside", data: { 'wrapper-class' => 'js__nested-tag-fields', confirm: 'Удалить?'} %>
</div>
